{{- $assetsBuster := "" }}
{{- $assetBusting := not site.Params.disableAssetsBusting }}
{{- if $assetBusting }}
  {{- /* Use commit SHA if available (set via HUGO_PARAMS_assetVersion in CI) */}}
  {{- with site.Params.assetVersion }}
    {{- $assetsBuster = printf "?v=%s" . }}
  {{- else }}
    {{- /* Fallback to timestamp */}}
    {{- $assetsBuster = printf "?%d" now.Unix }}
  {{- end }}
{{- end }}
{{- return $assetsBuster }}
